{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4">
            <h2>Your Wishlist</h2>
            <hr class="w-50 mb-2">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                {% if wishlist_products %}
                {% for product in wishlist_products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                    <div class="card h-100 border-4 mb-2">
                        {% if product.product.image %}
                        <a href="{% url 'product_single' product.product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ product.product.image }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_single' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0 font-weight-bold">{{ product.product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.product.price }}</p>
                                    {% if product.product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.product.category.front_end_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <form class="d-inline" action="{% url 'remove_from_wishlist' product.id %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-info" type="submit">DELETE</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <div class="col my-2">
                    <h4 class="text-center mx-auto">Nothing in your wishlist yet!</h4>
                    <p class="text-center mx-auto">Please browse our ceramics and find some that you like.</p>

                    <div class="d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="btn btn-outline-info rounded-0 btn-lg my-4 text-center">
                            <span class="text-uppercase">SHOP FOR ITEMS</span>
                        </a>
                    </div>

                </div>

                {% endif %}
            </div>
        </div>
    </div>

</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100" id="btt-back-top">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}