html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #98e7ff;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

.navbar-logo-link {
    width: fit-content;
}

.moon-yellow {
    color: #FFDE00;
}

a.category-badge > span.badge:hover {
    background: #5bc0de !important;
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #5bc0de;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.messages-box {
    position: fixed;
    top: 70px;
    right: 25px;
    z-index: 9999999;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/***** MEDIA QUERIES *****/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        /* max-width: 80%; */
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1111;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 166px;
    }

    body {
        height: calc(100vh - 116px);
    }
}