<div class="collapse navbar-collapse" id="top-navbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-info mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products +
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="pottery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pottery +
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pottery-link">
                <a href="{% url 'products'%}?category=homeware" class="dropdown-item">Homeware</a>
                <a href="{% url 'products'%}?category=wall_plates" class="dropdown-item">Wall Plates</a>
                <a href="{% url 'products'%}?category=sculpture" class="dropdown-item">Sculpture</a>
                <a href="{% url 'products'%}?category=homeware,wall_plates,sculpture" class="dropdown-item">All Pottery Items</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-info mr-5" href="{% url 'products'%}?category=pottery_classes" id="classes-link" aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-info mr-5" href="{% url 'products'%}?category=special_offers" id="offers-link" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>

    </ul>
</div>